@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
/* vars */
:root {
  --color-black: black;
  --color-white: white;
  --color-1: #AE9460;
  --color-2: #6D6E70;
  --font-master: "Montserrat" sans-serif;
}
/* wireframe */
* {
  outline: 1px dashed rgba(0,0,0,0.35);
}
/* overrides */
body {
  font-family: var(--font-master) !important;
  font-weight: 300;
  /* color: var(--color-2); */
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-master) !important;
  font-weight: bold;
  /* color: var(--color-1); */
}
footer {
  padding: 16px 0;
}
/* lib */
.ha {
  height: auto;
}
.no-padding {
  padding: 0;
}
